@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-family:"arial black";
  margin:80px 80px 0px 80px;
}

.homepage {
  background:image-url("aurora-bg.jpg");
  background-size:cover;
  background-position:fixed;
  opacity:.8;
  color:white;
}

.navbar-brand {
  margin-left:65px;
  margin-right:65px;
}

.col-md-4 img{
  height: 300px;
}

h1 {
  margin-top:100px;
  margin-bottom:50px;
}

.panel {
  p, ul {
    margin:20px 60px;
  }
  margin-top:20px;
  height:150px;
  background-color:black;
  color:#CFCFCF;
}

.panel-heading {
  text-align:center;
  background-color:#FFA319 !important;
}

.navbar-fixed-top {
  background: image-url("ribbons.jpg");
  background-size:100% 100%;
}

.gcamp-jumbo {
  border-style: solid;
  background-color:black;
  border-width: 1px;
  color:orange;
  font-family: 'Futura';
  font-size:100px;
  font-weight:bold;
}

.pull-right{
  margin-left: 10px;
}

.gcamp-brand {
  font-size:45px;
  font-family:'Futura';
  font-weight:bold;
}

.btn-submit{
  background-color: #38c0db;
}

.error {
  color:#fd0202
}

.check_box {
  margin-left: 210px;
}

.label{
  font-size:15px;
  text-align:left;
  color:black
  .danger{

  }
}

.navbar {
  :visited, :link{
    color:orange;
  }
  :hover {
    color:#ffffff
  }
}
