/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-family:"arial black";
  background: image-url("aurora-bg.jpg");
  background-size: cover;
  background-position: fixed;
}

.col-md-4 img{
  height: 300px;
}

footer {
  margin-left:50px;
}

h1 {
  margin-top:100px;
  margin-bottom:50px;
  color:white;
}

.panel {
  p, ul {
    margin:20px 60px;
  }
  margin-top:20px;
  height:150px;
  background-color:black;
  color:#CFCFCF;
}

.panel-heading {
  text-align:center;
  background-color:#FFA319 !important;
}

#nav {
  background: image-url("ribbons.jpg");
  background-size:100% 100%;
}

#navText{
  font-size: 30px;
  color: white;
}

#jumbo {
  margin-top:100px;
  border-style: solid;
  background-color:black;
  border-width: 1px;
}

#aboutpage {
  margin-left:50px;
}

#termspage {
  margin-left:50px;
}
