@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-family:"Futura";
  margin-top:80px;
}

.homepage {
  background:image-url("aurora-bg.jpg");
  background-size:cover;
  background-position:fixed;
  opacity:.8;
  color:white;
}

.col-md-4 img{
  height: 300px;
}

.dl-horizontal dt {
  overflow: visible;
}
// 
// .something {
//   width: 84%;
// }

.panel {
  p, ul {
    margin:20px 60px;
  }
  margin-top:20px;
  height:150px;
  background-color:black;
  color:#CFCFCF;
}

.panel-heading {
  text-align:center;
  background-color:#FFA319 !important;
}

.navbar-fixed-top {
  background: image-url("ribbons.jpg");
  background-size:100% 100%;
  font-size:30px;
  color:orange;
  .dropdown, .navbar-right {
    font-size:20px;
  }
  :visited, :link{
    color:orange;
  }
}

.navbar-header {
}

.gcamp-jumbo {
  border-style: solid;
  background-color:black;
  border-width: 2px;
  color:orange;
  font-size:100px;
  font-weight:bold;
}

.btn-submit{
  background-color: #38c0db;
}

.error {
  color:#fd0202
}
